#root {
  flex: 1
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2vh 10vw;
  text-align: center;
  place-items: center;
}

.noise {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  mix-blend-mode: overlay;
  z-index: 10;
  pointer-events: none;
}